.cookie {
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  background-color: var(--electricBlue);
  color: var(--persianPink);
}

.cookieAcceptButton {
  color: var(--black);
  background: var(--persianPink);
}

.cookieDeclineButton {
  color: var(--black);
  background: var(--persianPink);
}
